<?xml version="1.0"?>
<model>
    <name>Wind turbine</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
      <name>Christou56</name>
      <email></email>
    </author>

    <description>
      A generic wind turbine model. https://www.cgtrader.com/free-3d-models/architectural-details/other/wind-turbines
    </description>
</model>
